.footer {
	position: absolute;
	height: 70px;
	background-color: black;
	bottom: 0px;
	left: 0;
	right: 0;
	color: white;
	padding:0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
